<section class="bc-calendar">

  <span class="bc-calendar__weekdays" data-ng-if="$ctrl.showWeekdays && $ctrl.nestingDepth === 'week'">
    <span
      class="bc-calendar__day  bc-calendar__day--weekdays"
      data-ng-repeat="day in $ctrl.weekdays track by $index"
    >

      <strong class="bc-calendar__day-title">
        {{ day }}
      </strong>

    </span>
  </span>


  <bc-month
    data-ng-if="$ctrl.nestingDepth === 'month'"
    class="bc-calendar__month-wrapper"
    bc-collection="$ctrl.bcCollection"
  ></bc-month>

  <bc-week
    data-ng-if="$ctrl.nestingDepth === 'week'"
    class="bc-calendar__week-wrapper"
    bc-collection="$ctrl.bcCollection"
  ></bc-week>

  <bc-day
    data-ng-if="$ctrl.nestingDepth === 'day'"
    class="bc-calendar__day-wrapper"
    bc-collection="$ctrl.bcCollection"
  ></bc-day>

</section>

