<section class="bc-calendar">

  <span class="bc-calendar__weekdays" data-ng-if="vm.showWeekdays && vm.nestingDepth === 'week'">
    <span
      class="bc-calendar__day  bc-calendar__day--weekdays"
      data-ng-repeat="day in vm.weekdays track by $index"
    >

      <strong class="bc-calendar__day-title">
        {{ day }}
      </strong>

    </span>
  </span>


  <!--<div data-ng-include="vm.getTemplateUrl()"></div>-->

  <bc-year bc-collection="vm.bcCollection" data-ng-if="vm.nestingDepth === 'year'"></bc-year>
  <bc-month bc-collection="vm.bcCollection" data-ng-if="vm.nestingDepth === 'month'"></bc-month>
  <bc-week bc-collection="vm.bcCollection" data-ng-if="vm.nestingDepth === 'week'"></bc-week>
  <bc-day bc-collection="vm.bcCollection" data-ng-if="vm.nestingDepth === 'day'"></bc-day>


</section>

