<time
  class="bc-calendar__month"
  datetime="{{ month[0][month[0].length - 1].date | date:'yyyy-MM' }}"
  data-ng-repeat="month in vm.bcCollection track by $index"
>


  <span
    class="bc-calendar__month-title"
    data-ng-bind="$ctrl.formatDate(month[0][month[0].length - 1].date, $ctrl.monthTitleFormat)"
    data-ng-if="$ctrl.showMonthTitles"
  ></span>


  <!-- Unfortunately we can't nest a <header> inside a <time> element -->
  <span class="bc-calendar__weekdays" data-ng-if="$ctrl.showWeekdays">
    <span
      class="bc-calendar__day  bc-calendar__day--weekdays"
      data-ng-repeat="day in $ctrl.weekdays track by $index"
    >

      <strong class="bc-calendar__day-title">
        {{ day }}
      </strong>

    </span>
  </span>


  <bc-week bc-collection="month" class="bc-calendar__week-wrapper"></bc-week>


</time>

