
$gray: #999;
$blue: #add8e6;
$black: #000;
$deep_blue: #246b86;


.bc-calendar {

  //
  // Months
  //
  &--months {

    // container for a month
    .bc-calendar__month {
      display: block;
      margin-bottom: 2rem;

      // the month name
      .bc-calendar__month-title {
        display: block;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
      }
    }

    // container for heading row (M, T, W, T...)
    .bc-calendar__weekdays {
      color: $gray;
      display: flex;
      flex-flow: row nowrap;

      .bc-calendar__day,
      .bc-calendar__day:first-of-type,
      .bc-calendar__day:first-of-type:not(.bc-calendar__day--pad) {
        border: 0;
      }
    }

    // Target the actual directive wrapper
    .bc-calendar__week-wrapper {
      display: block;
    }

    // <div> container for week
    .bc-calendar__week {
      border-top: 1px solid $gray;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      // target first week
      &:first-of-type {
        border-top: 0;

        .bc-calendar__day {
          border-top: 1px solid $gray;
        }

        .bc-calendar__day--pad {
          border-top-color: transparent;

          &:last-child {
            border-right: 1px solid $gray;
          }
        }
      }

      // target last week
      &:last-of-type {
        .bc-calendar__day {
          border-bottom: 1px solid $gray;
        }
      }

      // target all odd weeks/rows
      &:nth-of-type(odd) {
        .bc-calendar__day:nth-of-type(odd) {
          background-color: rgba($black, .03);
        }

        .bc-calendar__day.bc-calendar__day--pad {
          background: transparent;
          border-color: transparent;
        }
      }

      // target all even weeks/rows
      &:nth-of-type(even) {
        .bc-calendar__day:nth-of-type(even) {
          background-color: rgba($black, .03);
        }

        .bc-calendar__day--pad:nth-of-type(even) {
          background-color: transparent;
        }

        .bc-calendar__day.bc-calendar__day--pad {
          background: transparent;
          border-color: transparent;
        }
      }
    }

    // Target the actual directive wrapper
    .bc-calendar__day-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
    }

    .bc-calendar__day {
      border-right: 1px solid $gray;
      flex: 1 1 auto;
      position: relative;
      text-align: center;
      width: calc(((100% / 7) - 2px) - 6.25rem);

      &::before {
        content: '';
        display: block;
        height: 0;
        padding-top: 100%;
      }

      &:first-of-type:not(.bc-calendar__day--pad) {
        border-left: 1px solid $gray;
      }

      &--weekdays {
        line-height: 2em;

        &::before {
          display: none;
        }
      }

      // add a left border to the first real day of the month
      &.bc-calendar__day--pad + .bc-calendar__day:not(.bc-calendar__day--pad) {
        &::after {
          background-color: $gray;
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: -1px;
          top: -1px;
          width: 1px;
        }
      }

      // <time> wrapper for actual datetime
      &-time {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        font-size: 12px;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        small {
          display: block;
        }
      }

      // class from our custom day template
      .week--date {
        color: $gray;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        top: .4em;
        left: .4em;
      }

      // class from our custom day template
      .month {
        font-size: .6rem;
        font-weight: 600;
        letter-spacing: .1em;
        opacity: .2;
        text-transform: uppercase;
        position: absolute;
        bottom: .2em;
        left: 0;
        right: 0;
      }
    }
  }


  //
  // Simple days
  //
  &--days {
    // container for heading row
    .bc-calendar__weekdays {
      border-bottom: 2px solid $deep_blue;
      display: flex;
      flex-flow: row nowrap;
    }

    // <div> container for week
    .bc-calendar__week {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &:nth-of-type(odd) {
        .bc-calendar__day:nth-of-type(odd) {
          background-color: rgba($black, .05);
        }

        .bc-calendar__day--pad:nth-of-type(odd) {
          background-color: transparent;
        }
      }

      &:nth-of-type(even) {
        .bc-calendar__day:nth-of-type(even) {
          background-color: rgba($black, .05);
        }

        .bc-calendar__day--pad:nth-of-type(even) {
          background-color: transparent;
        }

        .bc-calendar__day:nth-of-type(odd) {
          border: 1px solid rgba($black, .05);
        }
      }
    }

    .bc-calendar__day {
      flex: 1 1 auto;
      position: relative;
      text-align: center;
      width: calc((100% / 7) - 6.25rem);

      &::before {
        content: '';
        display: block;
        height: 0;
        padding-top: 100%;
      }

      &--weekdays {
        line-height: 2em;

        &::before {
          display: none;
        }
      }

      // <time> wrapper for actual datetime
      &-time {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        font-size: 12px;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        small {
          display: block;
        }
      }

      // class from our custom day template
      .week--date {
        color: $deep_blue;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        top: .4em;
        left: .4em;
      }

      // class from our custom day template
      .month {
        font-size: .6rem;
        font-weight: 600;
        letter-spacing: .1em;
        opacity: .2;
        text-transform: uppercase;
        position: absolute;
        bottom: .2em;
        left: 0;
        right: 0;
      }
    }
  }


  //
  // Sidescroll
  //
  &--sidescroll {
    overflow-x: scroll;
    white-space: nowrap;

    .bc-calendar__day {
      border: 1px solid $blue;
      display: inline-block;
      position: relative;
      text-align: center;
      width: 8rem;

      &::before {
        content: '';
        display: block;
        height: 0;
        padding-top: 80%;
      }

      &-time {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
    }

    // class from our custom day template
    .week--day {
      font-size: 11px;
      font-weight: 600;
      opacity: .5;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

