<section class="bc-calendar">

  <header class="bc-calendar__header">
    <span class="bc-calendar__day" data-ng-repeat="day in vm.weekdays track by $index">
      <strong class="bc-calendar__day-title">
        {{ day }}
      </strong>
    </span>
  </header>


  <div class="bc-calendar__month" data-ng-repeat="month in vm.calendar track by $index">
    <div class="bc-calendar__week" data-ng-repeat="week in month track by $index">

      <span
        class="bc-calendar__day"
        data-ng-class="{ 'bc-calendar__day--disabled': vm.isBeforeToday(day),
                         'bc-calendar__day--today': vm.isDayToday(day) }"
        data-ng-click="vm.selectDate(day)"
        data-ng-repeat="day in week track by $index"
      >
        <time
          class="bc-calendar__time"
          data-ng-class="{ 'bc-calendar__time--selected': vm.isDaySelected(day) }"
          datetime="{{ day | date:'MMMM Do, YYYY' }}"
          title="{{ day }}"
        >
          {{ day | date:'EEE dd' }}
        </time>
      </span>

    </div>
  </div>

</section>

